@model IEnumerable<WebCrudNotas.Models.Alumno>
@{
    ViewBag.Title = "Inicio";

}

<div class="row">
    <div class="col-md-12">
        <br />
        @Html.ActionLink("Nuevo", "Agregar", new {  } , new { @class = "btn btn-success" })
        <br /><br />
        <table class="table table-striped table-striped table-bordered">
            <tr>
                <th>Codigo</th>
                <th>Nombres</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Promedio</th>
                <th>Mensaje</th>
                <th colspan="2">Acciones</th>
            </tr>
            @{

                foreach (var item in Model)
                {
                        <tr>
                            <td>@item.codigo</td>
                            <td>@item.nombres</td>
                            <td>@item.nota1</td>
                            <td>@item.nota2</td>
                            <td>@item.notaFinal</td>
                            <td>@item.mensaje</td>
                            <td>
                                @Html.ActionLink("Modificar", "Modificar", new { id = item.codigo }, new { @class = "btn btn-info" })
                            </td>
                            <td>
                                @Html.ActionLink("Eliminar", "EliminarAlu", new { id = item.codigo }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                }
            }
        </table>
    </div>
</div>